* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  scroll-behavior: smooth ;

}

body{

  background-image: url(./images/bg-min.jpg);
}



.myPic {

  -webkit-mask-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,0.5) 95%, rgba(0,0,0,0) 100%);
  
  /* mask-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 100%); */

}




p{

  font-family: 'Open Sans', sans-serif;
  
}

h1{
   font-family: 'Orbitron', sans-serif;
   font-weight: 800;
}




.row {

  margin-left:0;
  margin-right:0

}

.container {

  width:90%;
  max-width:none;
  padding:0;

}


/*NAV BAR -------------------------------------*/



.navbar {

  font-family: 'Oswald', sans-serif;
}



/*NAV BAR -------------------------------------*/






/* LANDING 1 --------------------------------*/

.landing1 {
  width: 100%;
  height: 100%;
  background-image: url(./images/bg.png);
  background-size: cover;
  position: relative;
  padding-top: 80px  ;
}


.landing1-img {
  background-blend-mode: difference;
}



.wrapper .static-txt {
  color: white;
  font-weight: 600;

}


.wrapper .dynamic-txt{

  margin-left: 15px;
  overflow: hidden;
  height: 65px;
  font-family: 'Orbitron', sans-serif;




}

.dynamic-txt li{
  list-style: none;
  color: yellow;
  font-size: 45px;
  position: relative;
  top: 0;
  animation: slide 4.5s steps(3) infinite;
 

}

@keyframes slide {
  100%{
    top: -200px ;
  }
}

.dynamic-txt li span{
  position: relative;
}

.dynamic-txt li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 110%;
  width: 120%;
  border-left: 2px solid;
  background-image: url(./images/bg.png);
  animation: typing 1.5s steps(10) infinite;
 
}

@keyframes typing {
  100%{
    left: 110%;
    margin: 0 -10px 0 10px ;
  }
}



/* INTRO--------------------------------*/


.intro{

  min-height: 50vh;
  min-width: 50vw;
  position: relative;
  background-image: linear-gradient(to bottom, #00000009, #0a0a0a, #121212, #18181879, #1d1d1d34);


}

strong{
  color: yellow;
  font-size: 1.5em;
  font-weight: 400;
}



/*LANDING 2 -------------------------------*/



.landing2 {
  min-height: 100vh;
  margin-top: 100px;
  background-image: url(./images/bg.png);
  background-size: cover;
}

landing2 p {
  font-family: 'Itim', cursive;
}

/* MY TOOLS -------------------------------*/


#myTools {
  min-height: 100vh;
  width: 100%;
  margin-top: 1000px;
  background-image: linear-gradient(to bottom, #0000001c, #0a0a0a, #121212, #181818, #1d1d1d25);
  background-size: cover;

}



#contactMe {
  min-height: 50vh;
  width: 100%;
  background-image: url(./images/bg.png);
  background-size: cover;
}











