* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  scroll-behavior: smooth ;

}

/*NAV BAR*/



/* VH 1 --------------------------------*/

.landing1 {
  width: 100%;
  height: 100%;
  background-image: url(./images/bg.png);
  background-size: cover;
  position: relative;
  padding-top: 80px  ;
}



.wrapper .static-txt {
  color: white;
  font-weight: 600;

}


.wrapper .dynamic-txt{

  margin-left: 15px;
  overflow: hidden;
  height: 65px;
  font-family: 'Orbitron', sans-serif;




}

.dynamic-txt li{
  list-style: none;
  color: yellow;
  font-size: 45px;
  position: relative;
  top: 0;
  animation: slide 4.5s steps(3) infinite;
 

}

@keyframes slide {
  100%{
    top: -200px ;
  }
}

.dynamic-txt li span{
  position: relative;
}

.dynamic-txt li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 110%;
  width: 120%;
  border-left: 2px solid;
  background-image: url(./images/bg.png);
  animation: typing 1.5s steps(10) infinite;
 
}

@keyframes typing {
  100%{
    left: 110%;
    margin: 0 -10px 0 10px ;
  }
}



/* VH 2 --------------------------------*/


.intro{
  min-height: 50vh;
  margin-top: 2rem;
  miwidth: 50vw;
}





strong{
  color: yellow;
  font-size: 1.5em;
  font-weight: 400;
}












.landing2 {
  width: 100%;
  min-height: 100vh;
  background-image: url(./images/bg.png);
  background-size: cover;
  position: relative;
/*  padding: 100px 0 30px 0;*/
}






.navbar {

	font-family: 'Oswald', sans-serif;
}

body{

	background-image: url(./images/bg.png);
}



p{
	font-family: 'monospace', sans-serif;
	letter-spacing: .15em
}

